/* Anna Clayton */
/* February 2013 */
/* style.css */
/* http://www.w3schools.com/cssref/css_colornames.asp */
/* http://stackoverflow.com/questions/657795/how-remove-wordwrap-from-textarea */

   #taSourceCode{
	width:300px;
	height:300px;
	white-space: nowrap; 
	overflow: auto;
	resize: none;
   }
   #taLexResults{
	width:400px;
	height:150px;
	border-color: blue;
	border-width: thin;
	padding: 3px;
	resize: none;
   }
      #taLexOutput{
	width:400px;
	height:150px;
	border-color: blue;
	border-width: thin;
	padding: 3px;
	resize: none;
   }
   #taParseResults{
	width:400px;
	height:150px;
	border-color: fuchsia;
	border-width: thin;
	padding: 3px;
	resize: none;
   }
   #taParseCST{
	width:400px;
	height:150px;
	border-color: fuchsia;
	border-width: thin;
	padding: 3px;
	resize: none;
   }
   #taParseAST{
	width:400px;
	height:150px;
	border-color: aqua;
	border-width: thin;
	padding: 3px;
	resize: none;
   }
      #taParseScope{
	width:400px;
	height:150px;
	border-color: aqua;
	border-width: thin;
	padding: 3px;
	resize: none;
   }
   #ta3{
	width:600px;
	height:150px;
	border-color: lime;
	border-width: thin;
	padding: 3px;
	resize: none;
   }
   .textAreaWithLines{
      font-family:courier;      
      border:1px solid #F00;
      
   }
   .textAreaWithLines textarea,.textAreaWithLines div{
      border:0px;
      line-height:120%;
      font-size:12px;
   }
   .lineObj{
      color:red;
   }
   
  H5 { text-align: left}
